/invoke-yellow-build-attempt-3-2bffcb0.ps1 text eol=lf
/invoke-yellow-build-attempt-4-2bffcb0.ps1 text eol=lf
/invoke-yellow-build-attempt-5-2bffcb0.ps1 text eol=lf
/invoke-yellow-build-attempt-6-a99f5e8.ps1 text eol=lf
/invoke-yellow-build-attempt-7-e181d02.ps1 text eol=lf
